<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Seller Cabinet</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        a {
            padding: 8px;
            background-color: #28a745;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            margin: 5px;
        }
        a:hover {
            background-color: #218838;
        }
    </style>
</head>
<body>
<h1>Seller Cabinet</h1>
<br>
<a th:href="@{/shop/get}">View Shops</a>
<a th:href="@{/shop/create}">Add Shop</a>
<a th:href="@{/product/create}">Add Product</a>
<a th:href="@{/product/products}">Show Products</a>
<a th:href="@{/seller/orders}">Orders</a>
<br>
</body>
</html>